<div class="container">

    <h1 class="page-header">
      <i class="fa fa-calendar"></i> My Calendar
    </h1>

    <div class="calendar" id="calendar">
      <div class="calendar-toolbar">
        <button data-toggle="calendar" data-action="today" class="btn btn-primary">
          Today
        </button>

        <button data-toggle="calendar" data-action="prev" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </button>

        <div class="calendar-current-date"
              data-day-format="MM/DD/YYYY"
              data-week-format="MM/DD/YYYY"
              data-month-format="MMMM, YYYY">
          (placeholder)
        </div>

        <button data-toggle="calendar" data-action="next" class="btn btn-primary">
          <i class="fa fa-chevron-right"></i>
        </button>

        <div class="btn-group pull-right">
          <button data-toggle="calendar" data-action="day" class="btn btn-primary">
            Day
          </button>
          <button data-toggle="calendar" data-action="week" class="btn btn-primary">
            Week
          </button>
          <button data-toggle="calendar" data-action="month" class="btn btn-primary">
            Month
          </button>
        </div>
      </div>
    </div>
  </div>