<h1 class="d-flex justify-content-center">Add Event</h1>
<div class="containers d-flex justify-content-center">
    <form (ngSubmit)="onSubmit()" #addEventForm="ngForm">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-group">
                        <label class="mb-0" for="eventTitle">Event Title</label>
                        <input type="text" name="eventTitle" class="form-control mb-2 event-title-input" id="eventTitle"
                            required
                            [(ngModel)]="model.title" placeholder="Event Title"
                            #eventTitle="ngModel"/>
                            <div [hidden]="eventTitle.valid || eventTitle.pristine"
                                class="alert alert-danger">
                                Event Title is required
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="mb-0" for="startTime">Start Time</label>
                        <ngb-timepicker name="startTime" id="startTime" [(ngModel)]="model.startTime"></ngb-timepicker>
                    </div>
                    <div class="form-group">
                        <label class="mb-0" for="startTime">End Time</label>
                        <ngb-timepicker name="endTime" id="endTime" [(ngModel)]="model.endTime"></ngb-timepicker>
                    </div>
                    <div class="form-group">
                        <ul class="list-group border border-light mb-0 mt-1 p-2 participants">
                            <label for="participants">Participants: </label>
                            <li *ngFor="let participant of model.participants; let i = index; trackBy: trackByFn" class="d-flex">
                                <input class="width-90 " [disabled]="disabledInputs[i]" id="typeahead-basic" name="{{i}}" type="text" [(ngModel)]="model.participants[i]" [ngbTypeahead]="search"/>
                                <ng-container *ngIf="i + 1 != model.participants.length && i != 0">
                                    <i *ngIf="disabledInputs[i]" class="far fa-edit text-info mt-1" (click)="editEmail(i)"></i>
                                    <i class="far fa-trash-alt text-danger mt-1" (click)="removeEmail(i)"></i>
                                </ng-container>
                            </li>
                            <br>
                            <li class="d-flex">
                                <button type="button" class="btn-sm btn-block btn-success" (click)="addEmail()">
                                    Add <i class="fas fa-user-plus"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="mb-0" for="location">Location</label>
                        <input type="text" class="form-control mb-2 location-input" name="location" id="location"
                            [(ngModel)]="model.location" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label class="mt-1" for="description">Additional info</label>
                        <textarea class="additional-info-textarea" name="additionalInfo" id="description" rows="10" cols="30"
                            [(ngModel)]="model.description">
                        </textarea>
                    </div>
                </li>
                <button type="submit" class="btn btn btn-primary my-2 px-2" [disabled]="!addEventForm.form.valid">Create Event</button>
            </ul>
        </div>
    </form>
</div>
