<h1 class="d-flex justify-content-center">Events for Today: {{ todayTimestamp | date }}</h1>
<div class="containers d-flex justify-content-center">
    <div class="list-group col-3">
      <!-- <% for(let event of events) {%> -->
        <div class="list-group-item align-items-center">
            <div class="d-flex justify-content-between">
                <h5 class="mb-1">Event Title</h5>
                <div>
                    <a [href]="['editEvent']"><i class="fa fa-edit text-info"></i></a>
                    <a [href]="['deleteEvent']"><i class="fa fa-trash-alt text-danger"></i></a>
                </div>
            </div>
            <small class="d-block mb-1"><i class="fas fa-clock"></i> StartTime - EndTime</small>
            <small class="d-block mb-1"><i class="fas fa-users"></i> Participants: </small>
            <small class="d-block mb-1"><i class="fas fa-user"></i> Created by: </small>
            <span><i class="fas fa-map-marker-alt"></i> Location: </span>
        </div>

        <br>
        <a class="btn btn-success mb-1" routerLink="add-event">Add Event</a>
        <a href="/schedule" class="btn btn-primary">Schedule It!</a>
    </div>
</div>
